@model LAB2.Models.Todo

<h2>Add Task</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label>Task</label>
        <input asp-for="Task" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Add</button>
</form>
